# Build Artifacts
dist/
build/
*.egg-info/
__pycache__/

# Compiled Binaries
*.so
*.pyd
*.dll
*.exe
*.o
*.obj

# Logs and Temps
*.log
# Text files (except requirements.txt)
*.txt
!requirements.txt
.pytest_cache/
.coverage
htmlcov/
tools/pip_install_log.txt

# Environment
.env
.venv
.venv_bench/
venv/
.idea/
.vscode/

# Packaging
*.spec
